@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior:smooth;
}
body{
    background-color: #1B1F23;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color: #1B1F23;
}
::-webkit-scrollbar-thumb{
    background: #38434F;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover{
    background: #4A5560;
}

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.heading{
    @apply text-[2.5rem]/10 font-medium tracking-tighter text-balance text-center
}
.sub-heading{
    @apply text-xl/10 font-medium text-gray-950 md:text-2xl/10 dark:text-white
}
.p-color{
    @apply text-gray-600 dark:text-gray-400
}
.d-0{
    @apply duration-0;
}
.d-500{
    @apply duration-500;
}
.parent:hover > .child1{
    display: none;
}
.parent:hover > .child2{
    display: block;
}
.floater-parent:hover > .floater{
    display: block;
}

.hide{
    @apply hidden;
}
.unhide{
    @apply block;
}

.text-pink{
    @apply text-[rgb(244,114,182,1)];
}
