@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior:smooth;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background: #60a5fa;
    border-radius: 10px;
}

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.nav-dark{
    @apply bg-slate-900/75;
}
.nav-light{
    @apply bg-[#fff9];
}
.d-0{
    @apply duration-0;
}
.d-500{
    @apply duration-500;
}
.parent:hover > .child1{
    display: none;
}
.parent:hover > .child2{
    display: block;
}
.floater-parent:hover > .floater{
    display: block;
}

.hide{
    @apply  hidden;
}
.unhide{
    @apply  block;
}

.text-pink{
    @apply text-[rgb(244,114,182,1)];
}
